#header {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

#modal {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

fieldset {
    margin: 0 auto;
    width: 90%;
}

#modalContent {
    position: relative;
    width: 40%;
    padding: 20px;
    background: white;
    margin: 0 auto;
    top: 45%;
}

#myForm {
    padding: 25px;
}

.form {
    margin: 5px 0 5px 0;
}

legend {
    font-size: 30px;
    text-decoration: none;
}

#myForm button {
    margin-top: 10px;
}

#submit
#close {
    font-size: 10px;
}

button:hover {
    cursor: pointer;
    text-decoration: none;
}

#buttons {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 20px auto;
}

#container {
    height: 400px;
    width: 400px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    border: 5px solid #333333;
    background-color: #333333;
}

#msg {
    font-size: 30px;
    margin: 25px auto 0 auto;
    text-align: center;
    width: 400px;
    height: 100px;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 70px;
}
